<li id='tokboxButton' class='acl-write' data-key='tokbox'><a class='tokboxB' title='Video Conferencing'><span class='buttonicon tokboxButton')'></span></a></li><li class='separator'></li>

<style>
.tokboxB{
  font-family:font-awesome;
}
.tokboxB .buttonicon:before{
  content:"\e80b";
}
</style>
